/* .about-container{
    max-width: 1140px;
    margin: 1rem auto 0 auto;
} */

.description{
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

h1{
    font-size: 300%;
    font-weight: 300;
}

h2{
    margin-top: 1rem;
    font-size: 190%;
    font-weight: 300;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;
}

p{
    margin: 0.5rem 0;
    font-size: 110%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5;
    text-align: justify;
}

hr{
    border: none;
    border-bottom: 5px dotted #555;
    width: 20%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.one{
    margin-bottom: 1rem;
}

.two{
    margin: 1rem 0;
}

.name{
    margin: 0.5rem 0 0 0;
}

.social-link div{
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
}

.social-link i{
    margin-right: 1rem;
    font-size: 20px;
    vertical-align: middle;
}

.social-link a:link,
.social-link a:visited{
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.social-link a:hover,
.social-link a:active{
    border-bottom: 1px solid rgba(97, 97, 97, 0.788);
}

/* ====================== */
/* FEEDBACK */
.feedback-section{
    margin: 1.5rem 0;
    padding-bottom: 2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.feedback-form{
    margin-top: 1rem;
}

#feedback-header{
    font-variant: normal;
    text-align: center;
}

.form-group{
    width: 70%;
    margin: 0.5rem auto;
}

.form-group label{
    display: block;
    padding: 0.5rem 0;
}

.form-group input,
.form-group textarea{
    width: 99%;
}

.form-group input{
    border: none;
    border-bottom: 2px solid #979797;
    background-color: #d8d8d89d;
    padding: 3px 0;
    transition: border-bottom 0.2s;
}

.form-group input:hover{
    border-bottom: 2px solid black;
}

.form-group textarea{
    border: 1px solid #645f5f;
}

.form-group textarea:hover{
    border: 1px solid black;
}

.form-group .btn{
    float: right;
    margin: 0.5rem 1rem 0 0;
    background-color: #ffffff00;
    color: #645f5f;
    padding: 7px 25px;
    border: 1.5px solid #645f5f;
    border-radius: 25px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.form-group .btn:hover,
.form-group .btn:active{
    color: #000;
    background-color: #d8d8d89d;
}


/* ====================== */
/* FOOTER */
.footer{
    background-color: #222;
    color: #ccc;
    width: 100%;
    height: 270px;
    text-align: left;
}

.footer-container{
    max-width: 1140px;
    margin:0 auto;
}

.footer p{
    font-size: 18px;
    padding: 2rem 0 1rem 0;
}

.footer .social-icon{
    display: block;
    font-size: 16px;
    padding: 0 1rem 1rem 0;
}

.social-icon i{
    margin-right: 1rem;
    font-size: 18px;
    color: #ccc;
    vertical-align: middle;
}

.link:link,
.link:visited{
    text-decoration: none;
    color: #ccc;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.link:hover,
.link:active{
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
}

