main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/img/searchStudent-BG.jpeg");
    background-position: center;
}

.main-div{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.search-section{
    font-size: 20px;
    width: 30%;
    margin: 2rem auto 0.7rem auto;
    text-align: left;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0px 2px 15px #000;
}

.form-group h2{
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 160%;
    padding-bottom: 10px;
}

hr{
    width: 75%;
    margin-bottom: 1rem;
}

.form-group label{
    font-family: 'Padauk', sans-serif;
}

.form-group select{
    width: 100%;
    margin: 0.8rem 0 1.5rem 0;    
}

.form-group .btn{
    float: right;
    margin-right: 1rem;
    /* font-size: 80%; */
    background-color: #ffffff00;
    color: #6bc595;
    padding: 7px 25px;
    border: 1px solid #6bc595;
    border-radius: 25px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.form-group .btn:hover,
.form-group .btn:active{
    color: #000;
    background-color: #0c9463;
    border-color: #0c9463;
}