body, html{
    background-color: #f0f0f0;
    font-size: 18px;
    color: #555;
}

.voucher{
    background-color: #ECECEC;
    width: 45%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 1rem auto;
    box-shadow: 0px 2px 10px #bbbbbb;
}

.voucher-header .voucher-img img{
    width: 90px;
    height: auto;
    margin: 0.5rem 0 0 0;
}

.voucher-logo{
    position: absolute;
    display: block;
    z-index: 1;
}

.voucher-logo img{
    max-width : 70%;
    height: auto;
}


.label-table {
    width: 80%;
    margin: 1rem auto;
}

.label-table tr td{
    padding: 5px 0;
}

.label-table tr td.value{
    width: 60%;
    text-align: left;
}

.voucher-fee{
    width: 100%;
}

.fee-table{
    width: 100%;
}

.fee-table  tr th{
    color: #efefef;
    background-color: gray;
    padding: 7px 0;
}

.fee-table tr td{
    padding: 7px 0;
}

.fee-table tr td:nth-of-type(2){
    text-align: left;
    padding: 4px 20px;
}

.fee-table tr td:nth-of-type(3){
    width: 40%;
    text-align: right;
    padding: 4px 20px;
}

hr {
    margin: 14px auto;
    width: 90%;
}

.fee-table-bottom {
    padding: 0 0 1rem 0;
}