<%- include("./partials/header") %>
<link rel="stylesheet" href="/style/404.css">
</head>
<body>
    <div class="p-n-f">
        <h1>Page not Found!</h1>
        <p>This page is not avalible right now!</p>
    </div>
<%- include("./partials/footer") %>